[Desktop Entry]
Name=Elisa
Name[ast]=Elisa
Name[ca]=Elisa
Name[ca@valencia]=Elisa
Name[cs]=Elisa
Name[de]=Elisa
Name[en_GB]=Elisa
Name[es]=Elisa
Name[fr]=Elisa
Name[gl]=Elisa
Name[nl]=Elisa
Name[nn]=Elisa
Name[pl]=Elisa
Name[pt]=Elisa
Name[pt_BR]=Elisa
Name[sk]=Elisa
Name[sv]=Elisa
Name[tr]=Elisa
Name[uk]=Elisa
Name[x-test]=xxElisaxx
Comment=Configure Local Files Indexer of Elisa Music Player
Comment[ca]=Configura l'indexador de fitxers locals del reproductor de música Elisa
Comment[ca@valencia]=Configura l'indexador de fitxers locals del reproductor de música Elisa
Comment[cs]=Nastavit indexer místních souborů pro přehrávač Elisa
Comment[es]=Configurar el indexador de archivos locales del reproductor de música Elisa
Comment[gl]=Configurar o indexador de ficheiros locais do reprodutor de música Elisa
Comment[nl]=Indexeerder van lokale bestanden van de muziekspeler Elisa configureren
Comment[nn]=Set opp indeksering av lokale filer for musikkspelaren Elisa
Comment[pt]=Configurar a Indexação de Ficheiros Locais no Leitor de Música Elisa
Comment[sk]=Nastaviť indexer miestnych súborov hudobného prehrávača Elisa
Comment[sv]=Anpassa lokal filindexering för musikspelaren Elisa
Comment[uk]=Налаштувати індексування локальних файлів для музичного програвача Elisa
Comment[x-test]=xxConfigure Local Files Indexer of Elisa Music Playerxx
Icon=elisa
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Matthieu Gallien
X-KDE-PluginInfo-Email=matthieu_gallien@yahoo.fr
X-KDE-PluginInfo-License=LGPLv3
X-KDE-PluginInfo-Name=kcm_elisa_local_file
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Generic

X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
