[Desktop Entry]
Name=Elisa
Name[ar]=إليسّا
Name[ast]=Elisa
Name[ca]=Elisa
Name[ca@valencia]=Elisa
Name[cs]=Elisa
Name[da]=Elisa
Name[de]=Elisa
Name[en_GB]=Elisa
Name[es]=Elisa
Name[fi]=Elisa
Name[fr]=Elisa
Name[gl]=Elisa
Name[id]=Elisa
Name[it]=Elisa
Name[nl]=Elisa
Name[nn]=Elisa
Name[pl]=Elisa
Name[pt]=Elisa
Name[pt_BR]=Elisa
Name[ru]=Elisa
Name[sk]=Elisa
Name[sv]=Elisa
Name[tr]=Elisa
Name[uk]=Elisa
Name[x-test]=xxElisaxx
Name[zh_CN]=Elisa
Name[zh_TW]=Elisa
Comment=Configure Local Files Indexer of Elisa Music Player
Comment[ar]=اضبط مفهرس ملفّات «مشغّل الموسيقى إليسّا» المحليّة
Comment[ast]=Configura l'indizador de ficheros llocales del reproductor musical Elisa
Comment[ca]=Configura l'indexador de fitxers locals del reproductor de música Elisa
Comment[ca@valencia]=Configura l'indexador de fitxers locals del reproductor de música Elisa
Comment[cs]=Nastavit indexer místních souborů pro přehrávač Elisa
Comment[da]=Indstil Elisa-musikafspilleren til indeksering af lokale filer
Comment[de]=Lokale Dateiindizierung von Elisa einrichten
Comment[en_GB]=Configure Local Files Indexer of Elisa Music Player
Comment[es]=Configurar el indexador de archivos locales del reproductor de música Elisa
Comment[fi]=Elisa-musiikkisoittimen paikallisten tiedostojen indeksoijan asetukset
Comment[fr]=Configurer l'indexeur de fichiers locaux du lecteur de musique Elisa
Comment[gl]=Configurar o indexador de ficheiros locais do reprodutor de música Elisa
Comment[id]=Konfigurasi Pengindeks File Lokal untuk Player Musik Elisa
Comment[it]=Configura l'indicizzatore di file locali del lettore musicale Elisa
Comment[nl]=Indexeerder van lokale bestanden van de muziekspeler Elisa configureren
Comment[nn]=Set opp indeksering av lokale filer for musikkspelaren Elisa
Comment[pl]=Ustawieni indeksowania plików lokalnych odtwarzacza Elisa
Comment[pt]=Configurar a Indexação de Ficheiros Locais no Leitor de Música Elisa
Comment[pt_BR]=Configurar o indexador de arquivos locais do reprodutor de músicas Elisa
Comment[ru]=Настройка индексирования файлов для проигрывателя Elisa
Comment[sk]=Nastaviť indexer miestnych súborov hudobného prehrávača Elisa
Comment[sv]=Anpassa lokal filindexering för musikspelaren Elisa
Comment[tr]=Elisa Müzik Çalar'ın Yerel Dosya İndeksleyicisini Yapılandır
Comment[uk]=Налаштувати індексування локальних файлів для музичного програвача Elisa
Comment[x-test]=xxConfigure Local Files Indexer of Elisa Music Playerxx
Comment[zh_CN]=配置 Elisa 音乐播放器的本地文件索引器
Comment[zh_TW]=管理 Elisa 音樂播放器的本機檔案索引工具
Icon=elisa
Encoding=UTF-8
Keywords=
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Matthieu Gallien
X-KDE-PluginInfo-Email=matthieu_gallien@yahoo.fr
X-KDE-PluginInfo-License=LGPLv3
X-KDE-PluginInfo-Name=kcm_elisa_local_file
X-KDE-PluginInfo-Version=
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=KPackage/GenericQML

X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
