[Desktop Entry]
Categories=Qt;KDE;Multimedia;
Comment=
Exec=elisa
GenericName=Elisa Music Player
GenericName[ca]=Reproductor de música Elisa
GenericName[nl]=Muziekspeler Elisa
GenericName[pt]=Leitor de Música Elisa
GenericName[sk]=Hudobný prehrávač Elisa
GenericName[sv]=Elisa musikspelare
GenericName[uk]=Музичний програвач Elisa
GenericName[x-test]=xxElisa Music Playerxx
Icon=new-audio-alarm
MimeType=
Name=Elisa
Name[ca]=Elisa
Name[nl]=Elisa
Name[pt]=Elisa
Name[sk]=Elisa
Name[sv]=Elisa
Name[uk]=Elisa
Name[x-test]=xxElisaxx
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
