[Desktop Entry]
Categories=Qt;KDE;Multimedia;
Comment=
Exec=elisa
GenericName=Elisa Music Player
GenericName[ast]=Reproductor de música Elisa
GenericName[ca]=Reproductor de música Elisa
GenericName[ca@valencia]=Reproductor de música Elisa
GenericName[cs]=Přehrávač hudby Elisa
GenericName[de]=Elisa-Musikwiedergabe
GenericName[es]=Reproductor multimedia Elisa
GenericName[gl]=Reprodutor de música Elisa
GenericName[nl]=Muziekspeler Elisa
GenericName[pl]=Odtwarzacz muzyki Elisa
GenericName[pt]=Leitor de Música Elisa
GenericName[sk]=Hudobný prehrávač Elisa
GenericName[sv]=Elisa musikspelare
GenericName[uk]=Музичний програвач Elisa
GenericName[x-test]=xxElisa Music Playerxx
GenericName[zh_CN]=Elisa 音乐播放器
Icon=new-audio-alarm
MimeType=
Name=Elisa
Name[ast]=Elisa
Name[ca]=Elisa
Name[ca@valencia]=Elisa
Name[cs]=Elisa
Name[de]=Elisa
Name[es]=Elisa
Name[gl]=Elisa
Name[nl]=Elisa
Name[pl]=Elisa
Name[pt]=Elisa
Name[sk]=Elisa
Name[sv]=Elisa
Name[uk]=Elisa
Name[x-test]=xxElisaxx
Name[zh_CN]=Elisa
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
