[Desktop Entry]
Categories=Qt;KDE;Multimedia;
Comment=
Exec=elisa
GenericName=Screenshot Capture Utility
GenericName[nl]=Hulpmiddel voor het vangen van een schermafdruk
GenericName[pt]=Utilitário de Captura de Imagens
GenericName[sv]=Verktyg för att ta skärmbilder
GenericName[uk]=Програма для створення знімків вікон
GenericName[x-test]=xxScreenshot Capture Utilityxx
Icon=new-audio-alarm
MimeType=
Name=Elisa
Name[nl]=Elisa
Name[pt]=Elisa
Name[sv]=Elisa
Name[uk]=Elisa
Name[x-test]=xxElisaxx
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=org.kde.Spectacle
X-DBUS-StartupType=multi
X-KDE-SubstituteUID=false
X-KDE-Username=
