[Desktop Entry]
Type=Service
Icon=alarm
Exec=kcmshell5 kcm_elisa_local_file

X-KDE-Library=kcm_elisa_local_file
X-KDE-ServiceTypes=KCModule
X-KDE-ParentComponents=elisa
X-KDE-PluginKeyword=kcm_elisa_local_file

Name=Elisa Local Files Indexer
Name[ar]=مفهرس الملفّات المحليّة إليسّا
Name[ast]=Indizador de ficheros llocales Elisa
Name[ca]=Indexador de fitxers locals de l'Elisa
Name[ca@valencia]=Indexador de fitxers locals de l'Elisa
Name[cs]=Indexer místních souborů Elisa
Name[da]=Elisa, indeksering af lokale filer
Name[de]=Lokale Dateiindizierung von Elisa
Name[en_GB]=Elisa Local Files Indexer
Name[es]=Indexador de archivos locales de Elisa
Name[fi]=Elisan paikallisten tiedostojen indeksoija
Name[gl]=Indexador de ficheiros locais de Elisa
Name[id]=Pengindeks Fail Lokal Elisa
Name[it]=Indicizzatore di file locali di Elisa
Name[nl]=Lokale bestanden van Elisa indexeerder
Name[nn]=Indeksering av lokale filer for Elisa
Name[pl]=Indeksowanie plików lokalnych Elisy
Name[pt]=Indexação de Ficheiros Locais do Elisa
Name[ru]=Индексирование файлов для Elisa
Name[sk]=Indexer miestnych súborov Elisa
Name[sv]=Elisa lokal filindexering
Name[tr]=Elias Yerel Dosya İndeksleyici
Name[uk]=Засіб індексування локальних файлів Elisa
Name[x-test]=xxElisa Local Files Indexerxx
Name[zh_CN]=Elisa 本地文件索引器
Comment=A configuration tool for Elisa music player local files indexer
Comment[ar]=أداة يمكن تطويعها لمفهرس ملفّات «مشغّل الموسيقى إليسّا» المحليّة
Comment[ast]=Una ferramienta de configuración pal indizador de ficheros llocales del reproductor de música Elisa
Comment[ca]=Una eina de configuració per a l'indexador de fitxers locals del reproductor de música Elisa
Comment[ca@valencia]=Una eina de configuració per a l'indexador de fitxers locals del reproductor de música Elisa
Comment[cs]=Konfigurační nástroj pro indexer místních souborů pro přehrávač Elisa
Comment[da]=Et konfigurationsværktøj til Elisa, musikafspilleren til indeksering af lokale filer
Comment[de]=Einstellungen für die lokale Dateiindizierung der Elisa-Musikwiedergabe
Comment[en_GB]=A configuration tool for Elisa music player local files indexer
Comment[es]=Una herramienta de configuración para el indexador de archivos locales del reproductor de música Elisa
Comment[fi]=Asetustyökalu Elisa-musiikkisoittimen paikallisten tiedostojen indeksoijalle
Comment[gl]=Unha ferramenta de configuración para o indexador de ficheiros locais do reprodutor de música Elisa.
Comment[id]=Sebuah alat konfigurasi untuk pengindeks fail lokal pemain musik Elisa
Comment[it]=Uno strumento di configurazione l'indicizzatore di file locali del lettore musicale Elisa
Comment[nl]=Een configuratiehulpmiddel voor de indexeerder van lokale bestanden van de muziekspeler Elisa
Comment[nn]=Oppsettverktøy for indeksering av lokale filer for musikkspelaren Elisa
Comment[pl]=Narzędzie ustawień indeksowania plików lokalnych Elisy
Comment[pt]=Uma ferramenta de configuração para a indexação de ficheiros locais no leitor de música Elisa
Comment[ru]=Настройка индексирования файлов для проигрывателя Elisa
Comment[sk]=Konfiguračný nástroj pre indexer miestnych súborov hudobného prehrávača Elisa
Comment[sv]=Ett inställningsverktyg för lokal filindexering i Elisa musikspelare
Comment[tr]=Elisa müzik çalar yerel dosya indeksleyicisi için bir yapılandırma aracı
Comment[uk]=Інструмент налаштовування засобу індексування локальних файлів музичного програвача Elisa
Comment[x-test]=xxA configuration tool for Elisa music player local files indexerxx
Comment[zh_CN]=Elisa 音乐播放器本地文件索引器的配置工具
X-KDE-Keywords=Elisa
X-KDE-Keywords[ar]=إليسّا
X-KDE-Keywords[ast]=Elisa
X-KDE-Keywords[ca]=Elisa
X-KDE-Keywords[ca@valencia]=Elisa
X-KDE-Keywords[cs]=Elisa
X-KDE-Keywords[da]=Elisa
X-KDE-Keywords[de]=Elisa
X-KDE-Keywords[en_GB]=Elisa
X-KDE-Keywords[es]=Elisa
X-KDE-Keywords[fi]=Elisa
X-KDE-Keywords[gl]=Elisa
X-KDE-Keywords[id]=Elisa
X-KDE-Keywords[it]=Elisa
X-KDE-Keywords[nl]=Elisa
X-KDE-Keywords[nn]=Elisa
X-KDE-Keywords[pl]=Elisa
X-KDE-Keywords[pt]=Elisa
X-KDE-Keywords[pt_BR]=Elisa
X-KDE-Keywords[ru]=Elisa
X-KDE-Keywords[sk]=Elisa
X-KDE-Keywords[sv]=Elisa
X-KDE-Keywords[tr]=Elisa
X-KDE-Keywords[uk]=Elisa
X-KDE-Keywords[x-test]=xxElisaxx
X-KDE-Keywords[zh_CN]=Elisa
X-DocPath=elisa/index.html
