[Desktop Entry]
Type=Service
Icon=alarm
Exec=kcmshell5 kcm_elisa_local_file

X-KDE-Library=kcm_elisa_local_file
X-KDE-ServiceTypes=KCModule
X-KDE-ParentComponents=elisa
X-KDE-PluginKeyword=kcm_elisa_local_file

Name=Elisa Local Files Indexer
Comment=A configuration tool for Elisa music player local files indexer
X-KDE-Keywords=Elisa
